h1{color:red;}

th, td {border: solid medium black;}

p.sample1{border: inset 10px green;}
p.sample2{border: inset 10px black;}
p.sample3{border: inset 10px red;}
p.sample4{border: inset 10px yellow;}
p.sample5{border: inset 10px blue;}

.resized-image {max-width: 30px; height: auto;}
