h1{color:red;}

p.sample1{border: inset 10px 0000ff;}
p.sample2{border: inset 10px 0000ff;}
p.sample3{border: inset 10px 0000ff;}
p.sample4{border: inset 10px 0000ff;}
p.sample5{border: inset 10px 0000ff;}
